*{
/*  border: 1px solid black;
*/  font-family: "Lato", "微軟正黑體", sans-serif;
}

h1{
  color: grey;   
  text-align: right;
  padding-top: 5%;
  padding-right: 20%;
  margin-bottom: 30px;

  font-size: 50px;
  font-weight: 400;
  letter-spacing: 5px;
}

button.submit{
  display: block;
  /*background-color: white;*/
  border: 1px solid #C6C8CC;
  border-radius: 25px;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 15px;
  margin: 25px;
  margin-left:80%;
}

table a:link, a:visited{
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: grey;
}

table a:hover, a:active{
  color: black;  
}

#add-post-btn{
  padding: 14px 25px;
  margin-top: 15px;

  font-size: 18px;
  text-align: center;

  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.img-text img{
	height: 35px;
	padding-right: 5px; 
}
