<!DOCTYPE html>
<html>
	<head>
		<title>landing page</title>
	</head>
	<body>
		<div class="topnav" id="myTopnav">
      <a href="/" align="left"><img src="/img/mail.svg" height="30px" border="0"></a>
      Recommand Letter System
      <a href='/users/<%= log %>' align="right"><img src="/img/user.svg" height="30px" border="0"></a>
    </div>
	</body>
</html>
