<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/subdomain/css/style.css">
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- 選擇性佈景主題 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- 最新編譯和最佳化的 JavaScript -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.css">

    <title>
        <%= proj.titleZh %> 推薦信填寫</title>

</head>

<body>
    <div class="wrapper" style=" height:100%; width:100%;">
        <nav class="navbar navbar-default navbar-fixed-top" style="background: #93B1C6; height: 88px;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <h1>
                        <%= proj.titleZh %> - 推薦信填寫</h1>
                </div>
            </div>
        </nav>

        <div style="padding-top: 88px;">
            <div class="custom-container">
                <div style="padding-left: 10px;padding-right: 10px;padding-top: 2px;">
                    <div class="row" style="margin-top:12px;">

                        <div style="background-color: white; border-radius: 10px;">
                            <div class="panel" style="margin-bottom: 15px; min-height: calc(100vh - 119px);">
                                <div class="panel-body">
                                    <div class="panel-heading">
                                        <h2 class="panel-title"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;推薦信填寫</h2>
                                    </div>
                                    <hr>
                                    <h1 style="text-align: center; padding-top:20px; color: red;">已過推薦信填寫截止日期</h1>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>