<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/subdomain/css/index.css">
    <!-- 最新編譯和最佳化的 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- 選擇性佈景主題 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- 最新編譯和最佳化的 JavaScript -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>index</title>

</head>

<body>
    <div class="wrapper" style=" height:100%; width:100%;">
        <div class="container" style="height:100%;">

            <!-- header -->
            <div id="header">
                <div class="row action-bar">
                    <div class="col-md-7">
                        <h1>2017年成大資訊碩士推薦信申請</h1>
                    </div>
                    <div class="col-md-5 operate" align="right">
                        <div>
                            <% if ( typeof user == 'undefined' ) { %>
                                <a href="/users/login">登入</a> <span>|</span>
                                <a href="/users">註冊</a> <span>|</span>
                                <a href="/introduction">使用說明</a>
                            <% } else { %>
                                    <a href="/users/logout">登出</a> <span>|</span>
                                    <a href="/users/me">個人資料</a> <span>|</span>
                                    <a href="/introduction">使用說明</a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- navbar -->
                <% if ( typeof user != 'undefined' ) { %>
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav" style="width: 100%;text-align: center;">
                            <li><a href="/" class="dropdown-toggle">系所公告</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦資料<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="header_bottomlime">
                                        <a href="/recommendData">我的資料</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/fill-student-form">填寫資料</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/update-student-form">修改資料</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">推薦申請<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="header_bottomlime">
                                        <a href="/projects/rmd-person">推薦人名單</a>
                                    </li>
                                    <li class="header_bottomlime">
                                        <a href="/projects/addRmdPerson">新增推薦人</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/schedule">進度查詢</a></li>
                        </ul>
                    </div>
                </nav>
                <% } %>
            </div>
            <style>
                li.header_bottomlime {
                    border-bottom: 1px #ccc dotted;
                    padding: 2px;
                    width: 155px;
                    text-align: center;
                    /*font style*/
                    letter-spacing: 0.1em;
                    font-weight: 600;
                }

                .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
                    padding: 12px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            </style>

            <div style="margin-bottom: 20px;"></div>

            <div style="padding-left: 10px;padding-right: 10px;padding-top: 2px;">
                <div class="row" style="margin-top:12px;">
                    <div class="col-md-12" style="float:left;">
                        <div style="background-color: white; border-radius: 10px;">
                            <% if ( typeof user != 'undefined' ) { %>
                            <div class="panel" style="height:500px;">
                            <% } else { %>
                            <div class="panel" style="height:600px;">
                            <% } %>
                                <div class="panel-body">
                                    <div class="panel-heading">
                                        <h2 class="panel-title"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&nbsp;進度查詢</h2>
                                    </div>
                                    <table class="table table-hover" style="text-align: center;">
                                        <thead>
                                            <tr>
                                                <th width="30%" style="text-align: center;">推薦人名稱</th>
                                                <th style="text-align: center;">推薦信已送出</th>
                                                <th style="text-align: center;">推薦信已填寫</th> 
                                            </tr>
                                        </thead>
                                        <% if ( user.sentLetter.length == 0 ) { %>
                                            <tr><td colspan="3">目前還沒有寄任何推薦信邀請</td><tr>
                                        <% } else { 
                                                user.sentLetter.forEach(function (rmdPerson) { %>
                                                    <tr>
                                                        <td><%= rmdPerson.rmdPersonName %></td>
                                                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                                        <%          if (rmdlts.length == 0) { %>
                                                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                                                    </tr>
                                        <%          } else {            
                                                        rmdlts.forEach(function (rmdlt) {
                                                            if (rmdlt.rmdPersonID == rmdPerson.rmdPersonID) { %>
                                                            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                                                    </tr>
                                        <%                  } else {  %>
                                                            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                                                    </tr>
                                        <%                  }
                                                        });
                                                    }
                                                    
                                                });
                                           }    
                                        %>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>